body {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.contact-button {
    display: inline-block;
    background-color: #444; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #555; /* Color de fondo del botón al pasar el mouse */
}

